@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Vollkorn', serif;
}
#cover{
	width: 100%;
	margin: auto;
}
img{
	position: relative;
	left: 150px;
	width: 400px;
}
h1{
	text-align: center;
}
p{
	font-size: 2.5rem;
	text-align: justify;
	padding: 20px;
}
section{
}

footer a {
    color: rgb(239, 243, 10);
}

footer a:hover {
    color: rgb(240, 42, 28);
}
.courselink a:hover {
    color: rgb(240, 42, 28);
}

header, footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#307af2+1,00059b+100 */
    background: #307af2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #307af2 1%, #00059b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #307af2 1%, #00059b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #307af2 1%, #00059b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#307af2', endColorstr='#00059b', GradientType=0);
    /* IE6-9 */
}
#course{

	text-align: center;
    border: 0px solid;
    background-color: #EE3123;
    color: white;
	height: 70px;
	padding-top: 20px;
    max-width: 100%;
    margin: 0 auto;
    background: #fc3f32;
    background: -moz-linear-gradient(top, #fc3f32 0%, #aa0000 100%); background: -webkit-linear-gradient(top, #fc3f32 0%, #aa0000 100%);
    background: linear-gradient(to bottom, #fc3f32 0%, #aa0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3f32', endColorstr='#aa0000', GradientType=0);
}
footer p{
    margin: 5px 0;
}


/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	
}


/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {

}
