/* imports fonts from google and aplies it to my page */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

html * {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* this codes applies to  */
#root {
    font-size: 18px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Acme', sans-serif;
}

p {
    font-family: 'Neuton', serif;
}

#name {
    border: 0px solid white;
    background-color: rgb(8, 77, 160);
    color: white;
    grid-column: 1 / 6;
    border: 0px solid white;
    padding-left: 10px;
    padding-top: 30px;
    height: 100px;
    margin-top: 0px;
}

#course {
    grid-column: 1 / 6;
    border: 0px solid white;
    background-color: white;
    padding-left: 10px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px rgb(236, 203, 203);
}

nav {
    grid-column: 1 / 6;
    border: 0px solid white;
    background-color: white;
}

.courselink a:hover {
    color: rgb(240, 42, 28);
}

.image1 {
    max-width: 960px;
    width: 180px;
    height: 250px;
    position: absolute;
    right: 0px;
    top: 80px;
    box-shadow: 5px 5px 5px rgb(144, 130, 130);

}

/* This applies to the footer section */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    border: 0px solid white;
    background-color: rgb(8, 77, 160);
    text-align: center;
}

footer a {
    color: rgb(239, 243, 10);
}

footer a:hover {
    color: rgb(240, 42, 28);
}

/* css codes for the design principles website */

/* Mobile Phone or Baseline View */
@media screen and (min-width: 21em) {
    #cover {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: gray;
    }
}

/* Tablet or Medium View */
@media screen and (min-width: 37.5em) {
    #cover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        background-color: rgb(164, 108, 108);
    }
}

/* Desktop or Large View */
@media screen and (min-width: 60em) {
    #cover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        background-color: rgba(8, 189, 250, 0.864);
    }
}