@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

body {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    font-family: 'Acme', sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

#name {
    grid-column: 1 / 6;
    border: 0px solid white;
    background-color: rgb(146, 207, 245);
    padding-left: 10px;
    padding-top: 50px;
    height: 100px;
}

#course {
    grid-column: 1 / 6;
    border: 0px solid white;
    background-color: white;
    padding-left: 10px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px rgb(236, 203, 203);
}

nav {
    grid-column: 1 /;
    border: 0px solid white;
    background-color: white;
}

.image1 {
    max-width: 960px;
    width: 120px;
    height: 200px;
    position: absolute;
    right: 0px;
    top: 140px;
    box-shadow: 5px 5px 5px rgb(144, 130, 130);

}

footer {
    grid-column: 1 / 6;
    border: 0px solid white;
    background-color: rgb(146, 207, 245);
    text-align: center;
}


@media screen and (max-width: 550px) {

    /* beginning of media query */
    .home-grid {
        display: block;
    }
}

/* end of media query */