/* css properties for large screen  */
@media only screen and (min-width: 60rem) {
    #wrapper{
        width: 90%;
        margin: auto;
    }

    nav ul li:last-child {
        display: none;
    }
    /* CSS properties for navigation menu */
    nav#navbar {
        display: flex;
        flex-direction: row;
        position: static;
        text-align: center;
        margin: auto;
        border-top: 1px solid white;
        background: -moz-linear-gradient(top, #fc3f32 0%, #aa0000 100%); background: -webkit-linear-gradient(top, #fc3f32 0%, #aa0000 100%);
        background: linear-gradient(to bottom, #fc3f32 0%, #aa0000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3f32', endColorstr='#aa0000', GradientType=0);
    }
    
    nav ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
        margin: auto;
        list-style-type: none;
    }  
    
    nav ul li {
        border-right: 1px solid white;
        width: 100%;
        line-height: 1em;
        margin: -1px;
    }

    nav ul li a{
        padding: .6rem 1rem;
        color: white;
        text-align: center;
    }

    ul a:hover{
        color: blue;
    }

    #feelslike, #others {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 90%;
    }

    /* ##################################################
    css properties for feels like weather conditions
    ################################################### */
#feelslike{
    background-color: rgba(252, 245, 245, 0.5);
    box-shadow: 5px 5px 5px rgb(150, 136, 136);
    margin-top: 1rem;
    width: 90%;
    height: 200px;
}

section#temperature, section#precipitation, section#conditions{
    border: 1px solid white;
    border-radius: 2%;
    background-color: rgba(252, 245, 245, 0.5);
    box-shadow: 5px 5px 5px rgb(150, 136, 136);
  width: 250px;
  height: 300px;
    margin: 15px auto;
    /* padding: 5px; */
  }

  .faren{
    position: absolute;
    top: 33%;
    right: 35%;
    z-index: 6;
    font-size: 60px;
    font-weight: 900;
    color: white;
  }
  
      .umbrela{
        position: absolute;
        top: 33%;
        right: 40%;
        z-index: 6;
        font-size: 60px;
        font-weight: 900;
        color: white;
      }
      .percent{
        position: absolute;
        top: 48%;
        right: 35%;
        z-index: 6;
        font-size: 25px;
        font-weight: 900;
        color: white;
      }


   section .component{
        background-color: rgba(109, 97, 97, 0.5);;
        position: absolute;
       top: 30%;
       left: 13%;
        border-radius: 90%;
        width: 190px;
        height: 190px;
        display: flex;
        justify-content: center;
        z-index: 6;
    }
    

    section .inner{
        background-color: rgba(252, 245, 245, 0.3);
        border-radius: 90%;
        align-self: center;
        width: 150px;
        height: 150px;
    }
    
    #feelhigh{
        position: absolute;
        left: 10%;
        top: 10%;
        font-size: 3em;
        color: red;
    }
    #feelmode{
        position: absolute;
        left: 45%;
        top: 5px;
        font-size: 6em;
    }
    #feelow{
        position: absolute;
        right: 10%;
        top: 10%;
        font-size: 3em;
        color: blue;
    }
    #feelreal{
        display: block;
        color: black;
        position: absolute;
        top: 55%;
        left: 45%;
        font-size: 2em;
    }
    #feelwind{
        color: black;
        position: absolute;
        left: 15%;
        bottom: 10%;
        font-size: 1.5em;
    }
    #feelgusts{
        color: black;
        display: block;
        position: absolute;
        bottom: 10%;
        right: 15%;
        font-size: 1.5em;
    }

    .headerchange{
        position: absolute;
        top: -27px;
        left: 20%;
        font-size: 2em;
        color: rgb(49, 39, 39);
    }

/* ########################################
Parent to weather condition boxes 
######################################### */
    /* Background pictures for summary */ 
    .clear{
        background-image: url("/Weather-images/clear_large.jpg");
    }
    .clouds{
        background-image: url("/Weather-images/clouds_large.jpg");
    }
    .rain{
        background-image: url("/Weather-images/rain_large.jpg");
    }
    .snow{
        background-image: url("/Weather-images/snow_large.jpg");
    }
    .fog{
        background-image: url("/Weather-images/fog_large.jpg");
    }

/* #######################################
    individual Boxes and their properties 
########################################### */
    /* #temperature{
        justify-self: left;
        margin-left: 0;
        border-radius: 0px;
        height: 280px;
        width: 250px;
    }
    #precipitation {
        justify-self: center;
        margin: 0 10px;
        border-radius: 0px;
        height: 280px;
        width: 250px;
    } 
    
    #conditions{
        justify-self: right;
        margin-right: 0;
        border-radius: 0px;
        height: 280px;
        width: 250px;
    } */

     

    /* .imagine{
        width: 150px; 
        height: 147px;
    } */
    
}