/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap"); */



/* 1.0 General CSS Rules */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Vollkorn', serif;
}

header {
    display: flex;
    background-color: navy;
    padding: 5px 0;
    color: white;
    align-items: center;
    justify-content: flex-start;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#307af2+1,00059b+100 */
    background: #307af2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #307af2 1%, #00059b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #307af2 1%, #00059b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #307af2 1%, #00059b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#307af2', endColorstr='#00059b', GradientType=0);
    /* IE6-9 */

}

footer {
    display: block;
    text-align: center;
    background-color: navy;
    color: white;
    font-size: 13px;
    padding: 1px;
    margin-bottom: 30px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#307af2+1,00059b+100 */
    background: #307af2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #307af2 1%, #00059b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #307af2 1%, #00059b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #307af2 1%, #00059b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#307af2', endColorstr='#00059b', GradientType=0);
    /* IE6-9 */

}

footer a {
    color: rgb(239, 243, 10);
    text-decoration: none;
}

footer a:visited {
    color: greenyellow;
}

#uptodate {
    font-style: italic;
    letter-spacing: 1pt;
    ;
    font-size: .9rem;
    color: yellow;
    margin-top: -20px;
    margin-bottom: 20px;
}

header img {
    width: 80px;
    height: auto;
    padding-right: 10px;
}

#titlelow {
    padding-left: 10px;
}

.town {
    margin-bottom: -5px;
}

.gps {
    margin-top: -5px;
}

.heading {
    display: flex;
    flex-direction: column;
}

#feelslike,
#temperature,
#precipitation,
#conditions {
    color: black;
    border: 1px solid black;
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}


/* 2.0 Small screen css rules */
nav ul.hide {
    display: none;
}

nav {
    background-color: #aa0000;
    font-family: Verdana, sans-serif;
    border: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fc3f32;
    background: -moz-linear-gradient(top, #fc3f32 0%, #aa0000 100%) background: -webkit-linear-gradient(top, #fc3f32 0%, #aa0000 100%);
    background: linear-gradient(to bottom, #fc3f32 0%, #aa0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3f32', endColorstr='#aa0000', GradientType=0);

}

nav button {
    margin: .2rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    position: relative;
    left: 35%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}

nav ul li:active a {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgb(77, 77, 245);
    color: white;
}

#sectionfix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 10px 0px;
}


/* 3.0 Large screen css rules */
@media only screen and (min-width: 60rem) {
    nav {
        display: flex;
        background-color: #cccccc;
        background: #fc3f32;
        color: black;
        background: -moz-linear-gradient(top, #fc3f32 0%, #aa0000 100%) background: -webkit-linear-gradient(top, #fc3f32 0%, #aa0000 100%);
        background: linear-gradient(to bottom, #fc3f32 0%, #aa0000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3f32', endColorstr='#aa0000', GradientType=0);

    }
    ul {
        display: flex;
    }

    nav button {
        display: none;
    }


    nav ul li {
        display: flex;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .6rem 1rem;
        color: black
    }
    body {
        margin: 0 auto;
    }

    #sectionfix {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;

    }

    #feelslike {
        grid-column: 2;
        grid-row: 1;
    }

    #temperature,
    #precipitation,
    #conditions {
        grid-row: 2;
    }  
}