@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

/* Property value for ball indicator */
    .ball{
        position: inherit;
        width: 20px;
        height: 20px;
        background-color: rgb(14, 13, 13);
        border-radius: 100%;
        z-index: 7;
        text-align: center;
        color: white;

    }
    .condiTime{
        color: white;
    }