/* css properties for small/mobile screen */

  /* #################################################
  css property for individual weather imaage icons
  ##################################################### */
  .img1{
    position: absolute;
    right: 130px;
    top: 55px;
    width: 30px;
  }
  .img2{
    position: absolute;
    right: 50px;
    top: 80px;
    width: 30px;
  }
  .img3{
    position: absolute;
    right: 3px;
    top: 135px;
    width: 30px;
  }
  .img4{
    position: absolute;
    right: -5px;
    top: 190px;
    width: 30px;
  }
  .img5{
    position: absolute;
    right: 15px;
    bottom: 60px;
    width: 30px;
  }
  .img6{
    position: absolute;
    right: 60px;
    bottom: 10px;
    width: 30px;
  }
  .img7{
    position: absolute;
    right: 130px;
    bottom: 1px;
    width: 30px;
  }
  .img8{
    position: absolute;
    left: 70px;
    bottom: 10px;
    width: 30px;
  }
  .img9{
    position: absolute;
    left: 25px;
    bottom: 50px;
    width: 30px;
  }
  .img10{
    position: absolute;
    left: 1px;
    top: 190px;
    width: 30px;
  }
  .img11{
    position: absolute;
    left: 10px;
    top: 135px;
    width: 30px;
  }
  .img12{
    position: absolute;
    left: 50px;
    top: 80px;
    width: 30px;
  }
  
  /* ########################################
  css properties for numberse in circle
  ########################################### */
  .p1{
    position: absolute;
    right: 80px;
    top: 95px;
    z-index: 7;
  }
  .p2{
    position: absolute;
    right: 50px;
    top: 135px;
    z-index: 7;
  }
  .p3{
    position: absolute;
    right: 40px;
    top: 180px;
    z-index: 7;
  }
  .p4{
    position: absolute;
    right: 55px;
    top: 230px;
    z-index: 7;
  }
  .p5{
    position: absolute;
    right: 90px;
    bottom: 27px;
    z-index: 7;
  }
  .p6{
    position: absolute;
    left: 145px;
    bottom: 13px;
    z-index: 7;
  }
  .p7{
    position: absolute;
    left: 95px;
    bottom: 25px;
    z-index: 7;
  }
  .p8{
    position: absolute;
    left: 55px;
    bottom: 60px;
    z-index: 7;
  }
  .p9{
    position: absolute;
    left: 40px;
    top: 180px;
    z-index: 7;
  }
  .p10{
    position: absolute;
    left: 50px;
    top: 130px;
    z-index: 7;
  }
  .p11{
    position: absolute;
    left: 85px;
    top: 90px;
    z-index: 7;;
  }
  .p12{
    position: absolute;
    left: 140px;
    top: 73px;
    z-index: 7;
  }

  /* css property for individual weather icons and numbers */
  .icon1{
    position: absolute;
    right: 120px;
    top: 40px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon2{
    position: absolute;
    right: 35px;
    top: 70px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon3{
    position: absolute;
    right:-5px;
    top: 115px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon4{
    position: absolute;
    right: -16px;
    top: 175px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon5{
    position: absolute;
    right: -3px;
    bottom: 50px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon6{
    position: absolute;
    right: 40px;
    bottom: 5px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon7{
    position: absolute;
    right: 120px;
    bottom: -20px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon8{
    position: absolute;
    left: 70px;
    bottom: -5px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon9{
    position: absolute;
    left: 25px;
    bottom: 35px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon10{
    position: absolute;
    left: 3px;
    top: 178px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon11{
    position: absolute;
    left: 10px;
    top: 120px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon12{
    position: absolute;
    left: 50px;
    top: 70px;
    width: 40px;
    color: red;
    font-size: 23px;
  }

  /* Wind css property ###################################### */
  .iconW1{
    position: absolute;
    right: 120px;
    top: 40px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW2{
    position: absolute;
    right: 35px;
    top: 70px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW3{
    position: absolute;
    right:-5px;
    top: 115px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW4{
    position: absolute;
    right: -16px;
    top: 175px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW5{
    position: absolute;
    right: -3px;
    bottom: 50px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW6{
    position: absolute;
    right: 40px;
    bottom: 5px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW7{
    position: absolute;
    right: 120px;
    bottom: -20px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW8{
    position: absolute;
    left: 70px;
    bottom: -5px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW9{
    position: absolute;
    left: 25px;
    bottom: 35px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW10{
    position: absolute;
    left: 3px;
    top: 178px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW11{
    position: absolute;
    left: 10px;
    top: 120px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .iconW12{
    position: absolute;
    left: 50px;
    top: 70px;
    width: 40px;
    color: red;
    font-size: 23px;
  }

/* #*#*#*#**#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#
*#*#*#*#*#*#*#*#**#*#*#*#**#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*##*# */
@media screen and (min-width: 60em){
  /* #################################################
  css property for individual weather imaage icons
  ##################################################### */
  .img1{
    position: absolute;
    right: 105px;
    top: 60px;
    width: 30px;
  }
  .img2{
    position: absolute;
    right: 35px;
    top: 80px;
    max-width: 30px;
  }
  .img3{
    position: absolute;
    right: 1px;
    top: 120px;
    max-width: 30px;
  }
  .img4{
    position: absolute;
    right: -5px;
    top: 170px;
    max-width: 30px;
  }
  .img5{
    position: absolute;
    right: 5px;
    bottom: 45px;
    max-width: 30px;
  }
  .img6{
    position: absolute;
    right: 45px;
    bottom: 2px;
    max-width: 30px;
  }
  .img7{
    position: absolute;
    right: 105px;
    bottom: -5px;
    max-width: 30px;
  }
  .img8{
    position: absolute;
    left: 55px;
    bottom: 2px;
    max-width: 30px;
  }
  .img9{
    position: absolute;
    left: 20px;
    bottom: 40px;
    max-width: 30px;
  }
  .img10{
    position: absolute;
    left: 2px;
    top: 170px;
    max-width: 30px;
  }
  .img11{
    position: absolute;
    left: 5px;
    top: 120px;
    max-width: 30px;
  }
  .img12{
    position: absolute;
    left: 40px;
    top: 80px;
    max-width: 30px;
  }
  
  /* ########################################
  css properties for numberse in circle
  ########################################### */
  .p1{
    position: absolute;
    right: 70px;
    top: 85px;
    z-index: 7;
  }
  .p2{
    position: absolute;
    right: 40px;
    top: 120px;
    z-index: 7;
  }
  .p3{
    position: absolute;
    right: 30px;
    top: 160px;
    z-index: 7;
  }
  .p4{
    position: absolute;
    right: 40px;
    top: 200px;
    z-index: 7;
  }
  .p5{
    position: absolute;
    right: 70px;
    bottom: 15px;
    z-index: 7;
  }
  .p6{
    position: absolute;
    left: 125px;;
    bottom: 0px;
    z-index: 7;
  }
  .p7{
    position: absolute;
    left: 80px;
    bottom: 13px;
    z-index: 7;
  }
  .p8{
    position: absolute;
    left: 50px;
    bottom: 40px;
    z-index: 7;
  }
  .p9{
    position: absolute;
    left: 40px;
    top: 160px;
    z-index: 7;
  }
  .p10{
    position: absolute;
    left: 40px;
    top: 120px;
    z-index: 7;
  }
  .p11{
    position: absolute;
    left: 70px;
    top: 85px;
    z-index: 7;;
  }
  .p12{
    position: absolute;
    left: 120px;
    top: 70px;
    z-index: 7;
  }

    /* ##################################################
     css property for individual weather numbers 
  #################################################### */
  
  .icon1{
    position: absolute;
    right: 92px;
    top: 40px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon2{
    position: absolute;
    right: 25px;
    top: 60px;
    width: 40px;
  }
  .icon3{
    position: absolute;
    right:-10px;
    top: 105px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon4{
    position: absolute;
    right: -16px;
    top: 155px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon5{
    position: absolute;
    right: -5px;
    bottom: 25px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon6{
    position: absolute;
    right: 30px;
    bottom: -10px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon7{
    position: absolute;
    right: 90px;
    bottom: -25px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon8{
    position: absolute;
    left: 55px;
    bottom: -13px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon9{
    position: absolute;
    left: 15px;
    bottom: 25px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon10{
    position: absolute;
    left: 3px;
    top: 155px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon11{
    position: absolute;
    left: 10px;
    top: 110px;
    width: 40px;
    color: red;
    font-size: 23px;
  }
  .icon12{
    position: absolute;
    left: 50px;
    top: 60px;
    width: 40px;
    color: red;
    font-size: 23px;
  }

/* Wind icons css property for large screen ##################################### */
.iconW1{
  position: absolute;
  right: 80px;
  top: 45px;
  width: 40px;
  color: red;
  font-size: 25px;
}
.iconW2{
  position: absolute;
  right: 20px;
  top: 65px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW3{
  position: absolute;
  right:-15px;
  top: 105px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW4{
  position: absolute;
  right: -20px;
  top: 160px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW5{
  position: absolute;
  right: -5px;
  bottom: 25px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW6{
  position: absolute;
  right: 30px;
  bottom: -10px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW7{
  position: absolute;
  right: 86px;
  bottom: -23px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW8{
  position: absolute;
  left: 65px;
  bottom: -13px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW9{
  position: absolute;
  left: 28px;
  bottom: 25px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW10{
  position: absolute;
  left: 15px;
  top: 160px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW11{
  position: absolute;
  left: 20px;
  top: 110px;
  width: 40px;
  color: red;
  font-size: 23px;
}
.iconW12{
  position: absolute;
  left: 55px;
  top: 65px;
  width: 40px;
  color: red;
  font-size: 23px;
}

}

  

  
 