html {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    
}
/* .const-card-grid {
    background-color: #ebeef8;;
} */
a {
    text-decoration: none;
    color: #fff;
}
body {
    
}
section {
    padding: 10rem 0;
    /* background-color: #000; */
}

.const-card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.const-card-wrapper a {
    text-decoration: none;
    color: black;
}

.const-card {
    position: relative;
    border: 1px solid #cbd4f1;
    width: 32rem;
    /* background-color: #f1faee; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .3rem .5rem .3rem rgba(0,0,0,0.2);
}
.const-card::after {
    /* position: absolute;
    top: -50px;
    left: 50px;
    content: 'How Can I put class attribute in here?';
    width: 85%;
     margin: auto; 
    height: 20rem;
    border: 2px solid whitesmoke;
    display: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
    transform: scale(0);
    transition: transform ease-out 150ms; */
}
#name-drop {
    position: absolute;
    top: 0;
    visibility: hidden;
    transition: visibility 0s, opacity .5s linear;
    opacity: 0;
    width: 100%;
    height: 150px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    font-size: 2rem;
}
#name-drop h2 {
    background-color: #fff;
    color: green;
}
.const-card:hover #name-drop {
    visibility: visible;
    opacity: 1;
}
.more-info {
    visibility: hidden;
    transition: visibility 0s;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 35px;
    left: 10px;
    z-index: 1000;
    border-bottom: 1px solid #000;
    box-shadow: .5rem .3rem .5rem .3rem rgba(0,0,0,0.2);
}
.more-info h2 {
   background-color: #457b9d !important;
   color: #fff !important;
}
#name-drop h2:hover .more-info {
 visibility: visible;
}

 
.const-card .const-card-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

.const-profile-image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
}

.const-card h1 {
    font-size: 2.5rem;
    color: #1b6ec2;
    margin: 1rem 0 0 0;
    text-align: center;
}

.const-card h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    background-color: #ebeef8;
    padding: .5rem;
    margin: .5rem 0 ;
}

.const-card h3 {
    font-size: 1.5rem;
    margin: .3rem 0 1rem 0;
    
}

.discipline {
    font-size: 1.8rem;
    color: #777;
    font-weight: 300;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: .5rem;
}

.const-card .const-btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem .2rem rgba(0,0,0,.2);
}

.const-card-footer {
    width: 100%;
    text-align: left;
    padding: 1rem;
    border-top: 2px solid rgba(0,0,0,.1);
    /* background-color: #242b41; */
}

.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: .3rem;
    padding: 0 0 1rem 0;
}

.social-media i {
    font-size: 3rem;
    transition: color .5s;
}

.fa-facebook-square {
    color: #3b5999;
}
.fa-linkedin-square {
    color: #0e76a8;
}
.fa-github-square {
    color: #49addb;
}
.fa-twitter-square {
    color: #41bcec;
}

.fa-facebook-square:hover, 
.fa-linkedin-square:hover,
.fa-github-square:hover,
.fa-twitter-square:hover {
    color: #869790;
}



/* constellation project card css */
.project-title {
    background-color: #457b9d;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
}
.const-card h2 {
    margin: 0;
    padding: .5rem;
}
.collaborators {
    padding: .5rem 0;
}
.collaborators img {
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ebeef8;
}
.description {
    padding: 0 1rem;
    word-spacing: -2px;
    text-align: justify;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.project-date {
    width: 100%;
}
.project-date p {
    margin: 0;
    padding: .2rem 1rem;
}
.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-links a {
    text-decoration: none;
    color: #000;
    font-style: italic;
}
.project-links a:hover {
    color: blue;
}
.project-links a:visited {
    color: rgb(194, 187, 187);
}
.project-links a:active {
    columns: #e63;
}


/* Constellation Job Postings Cards Css */
.postings-title {
    background-color: #1d3557; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #1d3557, #457b9d);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 600;
}
.position {
    border-bottom: 2px solid #e63946;
    width: 100%;
    text-align: center;
    padding: 3px;
}

.position strong {
    color: green;
}
 .owners-box {
    padding: 5px;
  
} 
.owners-box img {
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    padding: 2px 2px 5px 2px;
    border: 2px solid #457b9d;
}
.job-owners-name  {
    color: #000;
    text-align: center;
    color: green;
    font-size: 18px;
}
.postings-type p {
    text-align: center;
    margin-bottom: 0;
}
.postings-type h2, .postings-description h2 {
    background: #457b9d;
    color: #fff;
    font-size: 15px;
}
.postings-description p {
    padding: 0 1rem;
    word-spacing: -2px;
    text-align: justify;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;;
}

/* CSS for skills and Deiscipline tabel */
.const-skills-card {
    border: 1px solid #cbd4f1;
    width: 32rem;
    margin: 1rem;
    box-shadow: .5rem .3rem .5rem .3rem rgba(0,0,0,0.2);
    border-radius: 15px;
}
.skills-discipline {
    background-color: #1d3557;
    color: #fff;
    font-size: large;
    font-weight: 600;
    width: 100%;
    padding: 5px;
    text-align: center;
}
 .const-table {
     border-collapse: collapse;
     width: 100%;
 }
 .const-table tbody {
     overflow-y: scroll;
     display: inline-block;
     height: 200px;
     width: 100%;
 }
 .const-table thead {
     display: block;
     /* width: 100%; */
 }
 .const-table th {
    background-color: #457b9d;
    color: #fff;
    width: 100%;
 }
 .const-table td, .const-table th {
     border: 1px solid #ddd;
     padding: 8px;
     width: 100%;
 }
.const-table tr:nth-child(even) {
    background-color: #f1faee;
}

@media screen and (min-width: 767px) {
     .const-card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    } 

    .const-card {
        margin: 2rem;
        transition: transform .5s;
    }
    .const-card:hover {
        transform: scale(1.05); 
    }
 
    @keyframes fadeIn {
        from { opacity: 0;}
        to {opacity: 1;}
    }
        .const-card:nth-child(1){
            animation: fadeIn .5s .5s backwards;
        }

        .const-card:nth-child(2){
            animation: fadeIn .5s .1s backwards;
        }

        .const-card:nth-child(3){
            animation: fadeIn .5s 1.5s backwards;
        }

        .const-card:nth-child(4){
            animation: fadeIn .5s 2s backwards;
        }

      

}