
body {
    background: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.page-card-content {
    width: 1200px;
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
}
/* 
.page-card-content .box {
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
}
@media screen and (min-width: 1200px) {
    .page-card-content {
        width: calc(100% - 40px);
        columns: 3;
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }
}

@media screen and (min-width: 768px) {
    .page-card-content {
        columns: 2;
    }
}

@media screen and (min-width: 480px) {
    .page-card-content {
        columns: 1;
    } */
}