html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 217, 217, 0.4);
}
.chat-container {
    height: 100vh;
}
.fixed-height {
    width: 100%;
    padding: 0 10px;
    margin: 2px;
}
.start-talking {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    color: #fff;
}
.start-talking p {
    margin: 0;
}
.chat-search {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: whitesmoke;
}
.chat-search form input {
    outline: none;
    border: none;
    width: 90%;
}
.group-chat, .private-chat {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #555;
    border-bottom: 1px solid #000;
}
.group-chat p, .private-chat p {
    margin: 0;
}

/* Message Container Properties and values */
.message-container {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;

}
.message-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    margin-bottom: 5px;
}
.message-container img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.col1 p {
   font-size: 18px;
    padding: 10px;
    color: blue;
    margin: 0;
}
/* Message content Properties and value */

.msg-inbox {
    overflow: hidden;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);

}
.chats {
    padding: 5px 10px 0 10px;
}
.msg-page {
    height: 250px;
    overflow-y: auto;
    height: 60vh;
}
.recieved-chats-img {
    display: block;
    width: 20px;
    float: left;
}
.recieved-chats-img img, .outgoing-chats-img img {
    width: 25px;
    height: 25px;
}
.recieved-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 80%;
}
.recieved-msg-inbox {
    width: 57%;
}
.recieved-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 5px 3px 5px;
    width: 100%;
}
.time {
    color: #fff;
    display: block;
    font-size: 10px;
    margin: 0;
    padding: 0 0 0 5px;
}
.outgoing-chats {
    overflow: hidden;
    margin: 10px;
}
.outgoing-chats-msg p {
    background: #589de6 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 5px 5px 3px 5px;
    width: 100%;
}
.outgoing-chats-msg {
    float: left;
    width: 60%;
    margin-left: 30%;
}
.outgoing-chats-img {
    display: block;
    width: 25px;
    float: right;
}

/* message footer starts here */
.msg-footer {
    position: relative;
    height: 10%;
}
.input-group {
    float: right;
    margin-top: 10px;
    width: 75% !important;
}

.bottom-icons {
    float: left;
    margin-top: 15px;
    width: 25% !important;
}
.bottom-icons .fas {
    padding: 0;
}



@media screen and (min-width: 767px) {
    html, body {
        padding: 0 50px;
    }
    .chat-container {
        display: flex !important;
        flex-direction: row;
        margin: 5px;
        height: 100vh;
    } 
    .fixed-height {
        width: 40%;
        background-color: lightgray;
        padding: 5px;
        height: 100vh;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    }
    .msg-page {
        height: 80vh;
    }
    .start-talking p {
        font-size: 13px;
    }
    .chat-search form input {
        width: 80%;
    }
    .chat-search form input[placeholder] {
        font-size: 12px;
    }
    .group-chat p {
        font-size: 12px;
    }
    .private-chat p {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) {
    .outgoing-chats-msg {
        width: 64%;
    }
    .start-talking p {
        font-size: 18px;
    }
    .chat-search form input[placeholder] {
        font-size: 15px;
    }
    .chat-search form input {
        width: 90%;
    }
    .group-chat p {
        font-size: 18px;
    }
    .group-chat .fas, .private-chat .fas {
        padding: 7px 0;
    }
    .private-chat p {
        font-size: 18px;
    }
    
}