html, body {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
.main {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('/cons_Img/workstation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #fff, 0 2px 3px #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}


/* Register page CSS properties and values */
.main form .reg::before {
  content: '';
  border: 1px solid #fff;
  background: #fff;
  /* margin-right: 3px; */
  position: absolute;
  display: block;
  width: 19%;
  left: 105px;
  top: 30px;
}
.main form .reg::after {
  content: '';
  border: 1px solid #fff;
  background: #fff;
  /* margin-right: 3px; */
  position: absolute;
  display: block;
  width: 19%;
  right: 105px;
  top: 30px;
}
.main form .reg {

  color: #1b6ec2;
  font-size: 1.5em;
}
label {
  color: #fff;
  text-align: left;
  margin-top: 15px;
  margin-bottom: -5px;
}




.main form img {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 2% 0 0 0;
}
.main form .log {
  color: #28a745;
  font-size: 1.2em;
}
.main form .log::before {
  content: '';
  border: 1px solid #fff;
  background: #fff;
  /* margin-right: 3px; */
  position: absolute;
  display: block;
  width: 19%;
  left: 105px;
  top: 135px;
}
.main form .log::after {
  content: '';
  border: 1px solid #fff;
  background: #fff;
  /* margin-right: 3px; */
  position: absolute;
  display: block;
  width: 19%;
  right: 105px;
  top: 135px;
}
.main form input[type="text"],
.main form input[type="password"] {
  -webkit-appearance: none !important;
  position: relative;
  height: 20px;;
  width: 300px;
  border: 1.5px solid rgba(255,255,255,0.5);
  background: transparent;
  color: #fff;
  padding: 5px 10px;
  margin: 15px 0 0 0;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}
.main form input[type="text"]:focus,
.main form input[type="password"]:focus {
  border-color: rgba(255,255,255,0.85);
}
.main form input[type="text"]::placeholder,
.main form input[type="password"]::placeholder {
  color: #fff;
}
.main form input[type="text"]:focus::placeholder,
.main form input[type="password"]:focus::placeholder {
  color: rgba(255,255,255,0.5);
}
.main form input[type="submit"] {
  -webkit-appearance: none !important;
  position: relative;
  height: 35px;
  width: 325px;
  border: none;
  background: #1b6ec2;
  color: #fff;
  font-size: 1em;
  margin: 15px 0 0 0;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  padding: 5px 0;
}
.main form input[type="submit"]:hover {
  background-color: #428cd6;
}
.main form .fgtpwd {
  position: relative;
  color: #ff0;
  text-decoration: none;
  left: 15%;
  font-size: 1em;
  font-weight: 500;
  margin: 2% 0 0 0;
  text-shadow: 0 2px 5px rgba(0,0,0,0.9);
}
.main form p {
  position: relative;
  color: #fff;
  font-size: .99em;
  font-weight: 500;
  margin: 10% 0 0 0;
  text-shadow: 0 2px 5px rgba(0,0,0,0.9);
}
.main form p a {
color: #1c8af8;
text-decoration: none;
}
.main form p a:hover {
  color: #60abf7;
  }


  @media screen and (max-width: 568px) {
    
  }