

.candidate-page-container {
    width: 75%;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
}

.candidate-header {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #555;
}

.postings-candidate-card {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    display: flex;
    margin-bottom: 15px;
}
.posting-section {
    width: 25%;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
}

.candidate-tab {
    width: 75%;
}
.box {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    width: 100%;
    height: 200px;
    text-align: center;

}
.posting-head {
    background-color: #305085;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: 500;
}

.posting-section h5 {
    background-color: #888;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 15px;
}

.posting-body {
    text-align: center;
}

.tablink {
    background-color: #888;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0px;
    font-size: 13px;
    width: 33.3%;
    word-wrap: break-word;
}
.tablink:hover {
    background-color: #555;
  }

  .tabcontent {
    color: #555;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    padding: 15px 10px 10px 10px;
    justify-content: center;
    align-content: center;
    /* height: 100%; */
    overflow: auto;
    overflow-x: hidden;
  }

#picks {background-color: whitesmoke}
#interested {background-color: whitesmoke}
#recomd {background-color: whitesmoke}