@charset "utf-8";
/* CSS Document */
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*--------------------------------------*/

#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9999;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: #333;
	color: white;
	cursor: pointer;
	border: 0;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
	border-radius: 50%;
}
#back-to-top:hover {
	background-color: #1b6ec2;
	color: white;
}
#back-to-top.show {
	opacity: 1;
}

/* -------------------------------------- */

#navigationContainer {
	padding: 0;
	width: 95vw;
	display: flex;
	background-color: #1b6ec2;
	color: white;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	margin-top: .5em;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#brandDiv {
	color: white;
	display: block;
	padding: 14px 16px;
	width:inherit;
}

.brand {
	font-size: 1.5em;
}

.searchSetup {
	display: inline-flex;
	padding-right: 2em;
}

#inputSearch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 0em;
}

#topSearch{
	width: 35vw;
}

.searchBtn {
	background-color: #333;
}

.headBtn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* ------------------------------- */

#mainContent {
	background: white;
	margin: 0 0 0 0;
	padding: 0px;
}

#heading {
	padding-top: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

#rp {
	display: flex;
	flex-flow: row nowrap;
	margin-right: 1em;
	margin-left: 1em;
}

#hThreeRp {
	padding-left: 1em;
}

.projSearch {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	margin-right: 1em;
}

.projBtn {
	margin-left: .5em;
	background-color: #6f42c1;
}

.container {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 1em;
	text-align: center;
}

.jumbotron {
	display: flex;
	flex-flow: column nowrap;
	text-align: start;
	margin: 1em;
	padding: .75em;
	width: 20em;
	height: auto;
	color: black;
}

@media screen and (max-width: 600px), (max-width: 650px) {
	
	#heading {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		align-content: center; 
		text-align: center;
	}
	
	#hThreeRp {
		padding-left: 0;
	}
	
	#rp {
		padding:0;
		flex-flow: column nowrap;
	}
	
	.projSearch {
		margin-top: 1em;
		margin-right: 0;
	}
}
@media screen and (max-width: 300px) {
	#navigationContainer {
		width: 90vw;
		font-size: .8em;
	}
}
