html{
    box-sizing: border-box;
}
*::after, *::before{
    box-sizing: border-box;
}
body{
    max-width: 960px;
    margin: 0 auto;
}
#wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 100px 100px;
}
.box1{
    background-color: red;
    grid-column: 1 / span 6;
}
.box2{
    background-color:blue;
    grid-column: 3;
    grid-row: 2 / span 3;
}
.box3{
    background-color: yellow;
    grid-column: 5;
    grid-row: 2 / span 3;
}

.component{
    width: 200px;
    height: 200px;
    background-color: darkgray;
    position: relative;
    border-radius: 90%;
    display: flex;
    justify-content: center;
}
    
.inner{
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 90%;
    align-self: center;
}